.comment-preview {
    gap: 30px;
    border: solid 1px lightgray;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    .info {
        font-size: small;
    }

    .actions {
        min-width: fit-content;
        gap: 10px;
    }
}