<section>
    <!-- <div *ngIf="!comment.parentCommentId" class="comment-preview flex align-center"> -->
    <div *ngIf="!comment.deletedAt" class="comment-preview flex align-center space-between">
        <div class="info flex align-center">
            <div>
                <img src="assets/imgs/users/{{comment.ownerId}}.jpg" alt="">
            </div>
            <div class="flex column">
                <p>{{ownerName}}</p>
                <p>{{comment.createdAt | timeAgo}}</p>
            </div>
        </div>
        <div class="text" [attr.contenteditable]="canEdit">
            <p *ngIf="!canEdit">{{comment.txt}}</p>
            <textarea *ngIf="canEdit" [(ngModel)]="comment.txt">{{comment.txt}}</textarea>
        </div>
        <div class="actions flex column">
            <button [disabled]="comment.ownerId !== selectedUser.id" (click)="onRemoveComment($event)">Delete comment</button>
            <button [disabled]="comment.ownerId !== selectedUser.id" (click)="onEditComment($event)">{{canEdit? 'Save' : 'Edit'}} comment</button>
        </div>
    </div>

    <div *ngFor="let comment of commentReplies" class="comment-replies">
        <app-comment-preview [comment]="comment" ></app-comment-preview>
    </div>
</section>
