.comment-preview {
    gap: 30px;
    border: solid 1px lightgray;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    .info {
        font-size: small;
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: fill;
        }
        @media (max-width: 800px) {
            .name-time {
                display: none;
            }
        }
    }

    .actions {
        min-width: fit-content;
        gap: 10px;
        &.mobile {
            display: none;
        }
        @media (max-width: 800px) {
            &.mobile {
                display: flex;
            }
            &.desktop {
                display: none;
            }
          }
    }
}

.comment-replies {
    margin-left: 2rem;
}