<section>
    <!-- <div *ngIf="!comment.parentCommentId" class="comment-preview flex align-center"> -->
    <div class="comment-preview flex align-center space-between">
        <div class="info">
            <h3>{{ownerName}}</h3>
            <h4>{{comment.createdAt | timeAgo}}</h4>
        </div>
        <div class="text">
            <p>{{comment.txt}}</p>
        </div>
        <div class="actions flex column">
            <button>Delete comment</button>
            <button>Edit comment</button>

        </div>
    </div>

    <div class="comment-replies">
        <!-- <app-comment-preview *ngFor="let comment of commentReplies"></app-comment-preview> -->
        <!-- <app-comment-list [comments]="commentReplies"></app-comment-list> -->

    </div>
</section>
