<section>
    <!-- <div clickOutside (clickedOutside)="onClickOutsideComment()" (click)="onClickComment(comment.id)" *ngIf="!comment.deletedAt" class="comment-preview flex align-center space-between"> -->
    <div (click)="onClickComment(comment.id)" *ngIf="!comment.deletedAt" class="comment-preview flex align-center space-between">
        <div class="info flex align-center">
            <div>
                <img src="assets/imgs/users/{{comment.ownerId}}.jpg" alt="">
            </div>
            <div class="name-time flex column">
                <p>{{ownerName}}</p>
                <p>{{comment.createdAt | timeAgo}}</p>
            </div>
        </div>
        <div class="text" [attr.contenteditable]="canEdit">
            <p *ngIf="!canEdit">{{comment.txt}}</p>
            <textarea *ngIf="canEdit" [(ngModel)]="comment.txt">{{comment.txt}}</textarea>
        </div>
        <div class="actions desktop flex column">
            <button [disabled]="comment.ownerId !== selectedUser.id" (click)="onRemoveComment($event)">Delete comment</button>
            <button [disabled]="comment.ownerId !== selectedUser.id" (click)="onEditComment($event)">{{canEdit? 'Save' : 'Edit'}} comment</button>
        </div>
        <div class="actions mobile flex column">
            <button class="icon-btn" [disabled]="comment.ownerId !== selectedUser.id" (click)="onRemoveComment($event)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            <button class="icon-btn" [disabled]="comment.ownerId !== selectedUser.id" (click)="onEditComment($event)">
                <fa-icon *ngIf="!canEdit" [icon]="faEdit"></fa-icon>
                <fa-icon *ngIf="canEdit" [icon]="faSave"></fa-icon>
            </button>
        </div>
    </div>

    <div *ngFor="let comment of commentReplies$ | async" class="comment-replies">
        <app-comment-preview [comment]="comment" ></app-comment-preview>
    </div>
</section>
